@using DoctorsOffice.Models;

<h1>Doctors Office</h1>
<h2>Doctor: @Model["doctor"].GetName()</h2>

<form method="post" action='/doctors/@Model["doctor"].GetId()/delete'>
  <button type="submit">Delete</button>
</form>
<hr />

@if (@Model["doctorPatients"].Count != 0)
{
  <h4>Here are all the patients of this doctor:</h4>
  
    @foreach (var patient in @Model["doctorPatients"])
    {
      @patient.GetName()<br>
      @patient.GetBirthdate()<br>
      <br>
    }
  
}

<h4>Add a patient for this doctor:</h4>

<form action='/doctors/@Model["doctor"].GetId()/patients/new' method='post'>
  <label for='patientId'>Select a patient</label>
  <select id='patientId' name='patientId' type='text'>

    @foreach (var patient in @Model["allPatients"])
    {
      <option value='@patient.GetId()'>@patient.GetName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<h3><a href='/patients'>Add a new patient</a></h3><br>




<p><a href="/">Return to Main Page</a></p>