@using DoctorsOffice.Models;

<h1>Doctors Office</h1>
<h2>Patient: @Model["selectedPatient"].GetName()</h2>

<form method="post" action='/patients/@Model["selectedPatient"].GetId()/delete'>
  <button type="submit">Delete</button>
</form>

<hr />

@if (@Model["patientDoctors"].Count != 0)
{
  <h4>This patient has these doctors:</h4>

 
    @foreach (Doctor doctor in @Model["patientDoctors"])
    { 

      <h2>@doctor.GetName()</h2><br>

      @foreach (Speciality speciality in doctor.GetSpecialities())
      {
        @speciality.GetName()<br>
      }

      
    }
}



<h4>Add a doctor to this patient:</h4>

<form action='/patients/@Model["selectedPatient"].GetId()/doctors/new' method='post'>
  <label for='doctorId'>Select a doctor</label>
  <select id='doctorId' name='doctorId' type='text'>
    @foreach (var doctor in @Model["allDoctors"])
    {
      <option value='@doctor.GetId()'>@doctor.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Return to Main Page</a></p>